@import url("https://fonts.cdnfonts.com/css/led-digital-7");
.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
   border-radius: 30px;
}
#screen input {
  background-color: rgb(253, 251, 251);
  height: 100px;
  width: 400px;
  font-size: 70px;
  margin: 60px 40px 10px 40px;
  border-radius: 30px;
  text-align: end;
  font-family: "LED Digital 7", sans-serif;
}
.btn-container {
  display: grid;
  grid-template-columns: 100px 100px 100px 100px;
  align-items: center;
  grid-gap: 10px;
  margin-top: 20px;
  font-size: 40px;
  margin: 10px 40px 10px 40px;
}
#small_containter {
  background-color: rgb(6, 157, 245);
  height: 70vh;
  border-radius: 30px;
}
button {
  padding: 20px;
  font-size: 25px;
  cursor: pointer;
  background-color: #0c03f9;
  color: white;
  border-radius: 10px;
}
